.item {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  margin: 1rem 0;
  padding: .2rem 0;
  border-bottom: solid 1px var(--secondary);
}

.actions {
  margin-left: auto;
}

.openBtn {
  padding: .3rem .6rem;
  font-family: amiri;
  border: none;
  border-radius: 2px;
  background-color: var(--secondary);
  font-size: 1.2rem;
  cursor: pointer;
}

.openBtn:hover {
  background-color: var(--secondary-hover);
}