.card {
  display: grid;
  grid-template-columns: 6rem 1fr;
  border: 1px solid var(--primary);
  border-radius: 2px;
  background-color: var(--background);
  color: var(--text);
  margin: 1rem 0;
  overflow: hidden;
  word-wrap: break-word;
}

.lang p,
.title p {
  padding: 0.5rem;
  margin: 0;
}

.lang {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.9rem;
}

.term {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem;
  background-color: var(--secondary-hover);
  font-weight: bold;
  font-size: 1rem;
  gap: 1rem;
}

.termInput {
  flex: 1 0 0;
  min-width: 5rem;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 4px;
  background-color: var(--min);
  color: var(--text);
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.actions button {
  background-color: var(--primary);
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 2px;
  color: var(--background);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  gap: .3rem;
  white-space: nowrap;
}

.actions .editBtn:hover,
.actions .saveBtn:hover,
.actions .discardBtn:hover,
.actions .deleteBtn:hover {
  opacity: 0.9;
  background-color: var(--primary-hover);
}

.definition {
  grid-column: 1 / span 2;
  padding: 0.75rem;
  white-space: pre-wrap;
  line-height: 1.5;
  font-size: 0.95rem;
}

.textarea {
  grid-column: 1 / -1;
  min-height: 100px;
  padding: 0.75rem;
  font-size: 0.95rem;
  font-family: inherit;
  line-height: 1.5;
  border: none;
  border-top: 1px solid var(--primary);
  border-radius: 2px;
  background-color: var(--min);
  color: var(--text);
  resize: vertical;
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
}