.item {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: .2rem 0;
  border-bottom: solid 1px var(--secondary);
}

.actions {
  margin-left: auto;
}

.openBtn {
  padding: .3rem .6rem;
  font-family: amiri;
  border: none;
  border-radius: 2px;
  background-color: var(--secondary);
  font-size: 1.2rem;
  cursor: pointer;
}

.openBtn:hover {
  background-color: var(--secondary-hover);
}

.approveBtn {
  padding: 0.3rem 0.6rem;
  font-family: amiri;
  border: none;
  border-radius: 2px;
  background-color: var(--accent);
  color: var(--min);
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: background-color 0.2s ease;
}

.approveBtn:hover {
  background-color: var(--accent-hover);
}

.rejectBtn {
  padding: 0.3rem 0.6rem;
  font-family: amiri;
  border: none;
  border-radius: 2px;
  background-color: var(--danger);
  color: var(--min);
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: background-color 0.2s ease;
}

.rejectBtn:hover {
  background-color: var(--danger-hover);
}
