.header {
  display: flex;
  gap: 1rem;
}

.titleInput {
  flex: 1 0 5rem;
  text-align: center;
}

.orderInput {
  flex: 0 1 5.5rem;
}

.content {
  height: calc(100vh - 9rem - var(--header-height) - var(--footer-height));
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.markdownContainer {
  border: solid 1px var(--primary);
  margin-bottom: 1.25rem;
  padding: 0.75rem;
}

.save {
  margin-bottom: 1.25rem;
  padding: 0.5rem 1rem;
}
