.exploreSection {
  margin: 10rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch; /* key line */
  row-gap: 10rem;
  column-gap: 5rem;
  border-radius: 2px;
  color: var(--text);
}

.content {
  height: 100%; /* key line */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--text);
}

.description {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: var(--gray);
}

.link {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--accent);
  color: var(--min);
  border-radius: 2px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: auto;
}

.link:hover {
  background-color: var(--accent-hover);
}

.imageWrapper {
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(var(--max-rgb), 0.1);
}

@media (max-width: 768px) {
  .exploreSection {
    grid-template-columns: 1fr;
  }

  .content {
  align-items: center;
}
}
