.appHeader {
  position: fixed;
  width: 100%;
  position: relative;
  background-color: #D6CCB1;
}

.container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 92rem;
  padding: .5rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.appLogo {
  margin-right: 1rem;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-bottom: .2rem;
}

.navItem {
  transition: transform 0.2s ease-in-out;
}

.navItem:hover {
  transform: scale(1.2);
}

.loginBtn {
  border-radius: 50%;
  border: none;
  background-color: #D6CCB1;
  margin-left: auto;
}

.loginBtn:hover {
  cursor: pointer;
}