.appHeader {
  position: fixed;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 11;
  border-bottom: var(--primary) solid 2px;
  height: var(--header-height);
}

.logo {
  position: absolute;
}

.logoLoading {
  position: absolute;
  background-color: var(--background);
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 0.2rem);
}

.nav {
  width: 92rem;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navList {
  list-style: none;
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.navItem {
  position: relative;
  color: var(--gray);
  font-size: 0.95rem;
  transition: transform 0.2s ease-in-out;
}

.navItem::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  /* Adjust spacing */
  width: 100%;
  height: 2px;
  /* Thickness of the underline */
  background-color: var(--text);
  /* Underline color */
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.navItem:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.navActions {
  display: flex;
  gap: 0.5rem;
  align-items: stretch;
}

.active {
  color: var(--text);
}
