.appHeader {
  position: fixed;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 11;
  border-bottom: var(--primary) solid 2px;
  height: var(--header-height);
}

.container {
  width: 92rem;
  padding: .5rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.appLogo {
  margin-inline-end: 1rem;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.navGroup {
  display: flex;
  align-items: baseline;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-bottom: .2rem;
}

.navItem {
  transition: transform 0.2s ease-in-out;
}

.navItem:hover {
  transform: scale(1.1);
}

.actions {
  display: flex;
  gap: 1rem;
}