.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - var(--header-height)) ;
  margin-top: -4rem;
  margin-bottom: 4rem;
  border-bottom: solid 2px var(--primary);
}

.content {
  max-width: 500px;
  background: var(--text);
  padding: 20px;
  border-radius: 8px;
  backdrop-filter: blur(8px);
  color: var(--background);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.paragraph {
  margin-bottom: 15px;
}

.button {
  display: inline-block;
  background: var(--accent);
  color: var(--background);
  font-weight: bold;
  padding: .6rem 1rem;
  border-radius: 2px;
  margin-top: 1rem;
  text-decoration: none;
}

.button:hover {
  background: var(--accent-hover);
}
