.navigation {
  position: fixed;
  z-index: 3;
  top: var(--header-height); /* Starts right after the header */
  right: 1rem;
  min-height: 15.3rem;
  max-height: calc(
    100vh - var(--header-height) - var(--footer-height)
  ); /* Adjusts to stop before the footer */
  overflow-y: auto; /* Enables vertical scrolling */
}

.chaptersContainer {
  width: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
