.accordion {
  border: 1px solid var(--primary);
  border-top: none;
  border-radius: 2px;
  overflow: hidden;
}

.accordionHeader {
  width: 100%;
  background: var(--secondary);
  color: var(--text);
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-family: "amiri";
  font-weight: 700;
}

.icon {
  transition: transform 0.3s ease;
}

.open {
  transform: rotate(180deg);
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    padding 0.3s ease;
  background: var(--background);
  color: var(--text);
}

.show {
  max-height: 100rem; /* Adjust as needed */
}
