.accordion {
  border: 1px solid var(--primary);
  border-top: none;
  border-radius: 2px;
  overflow: hidden;
}

.accordion:last-child {
  border-bottom: none;
}

.accordionHeader {
  width: 100%;
  background: var(--secondary);
  color: var(--text);
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-family: "amiri";
  font-weight: 700;
}

.icon {
  transition: transform 0.3s ease;
}

.open {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.accordionContent {
  display: grid;
  grid-template-rows: 0fr; /* Initially collapsed */
  opacity: 0;
  transition:
    grid-template-rows 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.show {
  grid-template-rows: 1fr; /* Expands naturally */
  opacity: 1;
}
