.toolbox {
  position: fixed;
  background-color: var(--secondary);
  padding: 0.3rem 1rem 1rem 1rem;
  border-top: 1px solid var(--primary);
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease-in-out;
  z-index: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.toolboxHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 0.5rem;
  cursor: grab;
}

.toolboxHeader:active {
  cursor: grabbing;
}

.toolboxContainer {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.toolboxContainer button {
  background: var(--background);
  color: var(--text);
  border: none;
  padding: 8px 12px;
  border-radius: 2px;
  cursor: pointer;
  font-family: "amiri";
  font-weight: 700;
  font-size: 1rem;
  transition: background 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.toolboxContainer button:hover {
  background-color: var(--background-hover);
}