.toolbox {
  position: fixed;
  background-color: var(--secondary);
  padding: 0.3rem 1rem 1rem 1rem;
  border-top: 1px solid var(--primary);
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease-in-out;
  z-index: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.toolboxHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 0.5rem;
  cursor: grab;
}

.toolboxHeader:active {
  cursor: grabbing;
}

.toolboxContainer {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.toolboxContainer button {
  background: var(--background);
  color: var(--text);
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 2px;
  cursor: pointer;
  font-family: "amiri";
  font-weight: 700;
  font-size: 1rem;
  transition: background 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.toolboxContainer button:hover {
  background-color: var(--background-hover);
}

.bookmark {
  padding: 0.2rem 0.5rem !important;
}

.bookmarkContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bookmarkTitle {
  border-bottom: 1px solid var(--primary);
  line-height: 1.2rem;
  width: 100%;
  text-align: start;
  white-space: none;
}

.bookmarkRef {
  font-size: 0.7rem;
  line-height: 1rem;
  color: var(--text-secondary); /* Use a lighter text color */
  opacity: 0.8; /* Reduce emphasis */
  margin-top: 0.2rem;
  white-space: none;
}
