.privacy {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  line-height: 1.6;
  color: var(--text);
  background-color: var(--background);
}

.title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.intro {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.section {
  margin-bottom: 25px;
}

.sectionTitle {
  font-size: 22px;
  color: var(--text);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid var(--secondary);
  padding-bottom: 5px;
}

.list {
  list-style-type: disc;
  margin-left: 1rem;
  padding-left: 0.3rem;
}

[dir="rtl"] .list {
  margin-right: 1rem;
  padding-right: 0.3rem;
}

.listItem {
  margin-bottom: 8px;
}

.text {
  margin-bottom: 10px;
}

.link {
  color: var(--accent);
  text-decoration: none;
}

.link:hover {
  color: var(--accent-hover);
  text-decoration: underline;
}

.lastUpdated {
  margin-top: 20px;
  font-style: italic;
  color: var(--gray);
  text-align: center;
}
