.header {
  background-color: var(--secondary);
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--primary) solid 2px;
}

.appTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.appTitle h2 {
  margin-bottom: -0.4rem;
}

.navbar {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.listItem {
  color: var(--gray);
}

.listItem:hover {
  color: var(--accent);
  transition: color 0.2s ease-in-out;
}

.logoutButton {
  border: none;
  font-family: amiri;
  font-size: 1rem;
  background-color: var(--accent);
  color: var(--background);
  padding: .5rem;
  border-radius: 2px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: var(--accent-hover);
}