.logoutButton {
  border: none;
  font-family: amiri;
  font-size: 1rem;
  background-color: var(--accent);
  color: var(--background);
  padding: 0.5rem;
  border-radius: 2px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: var(--accent-hover);
}
