.navList {
  list-style: none;
  display: flex;
  align-items: baseline;
  gap: .5rem;
  margin: auto 0;
  margin-right: auto;
}

.navbar {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.listItem {
  color: var(--gray);
}

.listItem a {
  border-radius: 2px;
  padding: .3rem;
}

.listItem:hover {
  color: var(--accent);
  transition: color 0.2s ease-in-out;
}