.languageChanger {
  position: relative;
  display: inline-block;
}

.button {
  height: 100%;
  width: 5.2rem;
  font-family: var(--font-amiri);
  font-weight: 700;
  background: var(--secondary);
  color: var(--text);
  border: 1px solid var(--primary);
  padding: 0rem 0.4rem;
  border-radius: 2px;
  cursor: pointer;
  transition:
    background 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.button:hover {
  background: var(--background);
  border-color: var(--accent);
}

.dropdown {
  position: absolute;
  top: calc(100% + 1px);
  left: 50%;
  transform: translateX(-50%);
  background: var(--background);
  border: 1px solid var(--primary);
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 40;
}

.option {
  width: 5.1rem;
  display: block;
  padding: 0.4rem;
  background: var(--background);
  color: var(--text);
  font-family: var(--font-amiri);
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background 0.3s ease;
  white-space: nowrap;
}

[dir="rtl"] .option {
  text-align: right;
}

.option:hover {
  background: var(--secondary); /* Darker hover effect */
}

.option:disabled {
  opacity: 0.5;
  background: var(--background); /* Keep background unchanged */
}

@media (max-width: 48em) { 
  .button {
    width: 2rem;
  }

  .option {
    width: 2rem;
  }
}

@media (max-width: 22.5em) {
  .button {
    height: auto;
    border: none;
  }
}