.loginLink {
  background-color: var(--accent);
  color: var(--background);
  font-weight: bold;
  font-size: .8rem;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out, border 0.3s ease-in-out;
  padding: .2rem .4rem;
}

.loginLink:hover {
  background-color: var(--accent-hover);
}

[dir="rtl"] .flipIcon {
  transform: scaleX(-1);
}