.bookmark {
  position: absolute;
  top: 4rem;
  left: 2rem;
  background-color: var(--background);
  padding: 0rem 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 0rem 0rem 1rem 1rem;
}

[dir="rtl"] .bookmark {
  left: auto;
  right: 2rem;
}

.lastReadText {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Small tablets (768px) */
@media (max-width: 48em) {
  .bookmark {
    left: 1.5rem;
  }

  [dir="rtl"] .bookmark {
    left: auto;
    right: 1.5rem;
  }
}

/* Large phones (600px) */
@media (max-width: 37.5em) {
  .bookmark {
    left: 1rem;
  }

  [dir="rtl"] .bookmark {
    left: auto;
    right: 1rem;
  }
}

/* Regular smartphones (480px) */
@media (max-width: 30em) {
  .bookmark {
    left: 0.5rem;
  }

  [dir="rtl"] .bookmark {
    left: auto;
    right: 0.5rem;
  }
}

/* Small phones (360px) */
@media (max-width: 22.5em) {
  .bookmark {
    left: 0rem;
  }

  [dir="rtl"] .bookmark {
    left: auto;
    right: 0rem;
  }
}
