.closeButton {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.05rem;
  right: 0.05rem;
  background-color: var(--secondary);
}

[dir="rtl"] .closeButton {
  right: auto;
  left: 0.05rem;
}

.closeButton {
  cursor: pointer;
}

.closeIcon {
  color: var(--primary);
}
