.closeButton {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  cursor: pointer;
}

.absolute {
  position: absolute;
  top: 0.15rem;
  inset-inline-end: 0.15rem; /* replaces right in LTR, left in RTL */
}

.closeIcon {
  color: var(--primary);
}
