.toggleButton {
  border: none;
  grid-column: 3;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--primary);
  border-radius: 2px;
}

.toggleIcon {
  color: var(--secondary);
  background-color: var(--secondary);
  color: var(--primary);
}
