.toggleButton {
  border: none;
  grid-column: 3;
  grid-row: 2;
  justify-items: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  place-self: stretch;
}

.toggleIcon {
  color: var(--secondary);
  background-color: var(--secondary);
  color: var(--primary);
}
