.container {
  display: grid;
  grid-template-columns: 1fr 30rem;
  align-items: start;
  align-items: stretch;
  gap: 2rem;
}

.glossaryHeader {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px var(--secondary);
}

.glossaryTitle {
  white-space: nowrap;
}

.glossary {
  /* height: calc(100vh - var(--header-height) - var(--footer-height) + 6rem);
  overflow-y: auto; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Optional: Makes sure the ads section always stays fully visible */
.adds {
  position: sticky;
  top: var(--header-height);
}

@media (max-width: 30em) {
  .glossaryHeader {
    flex-direction: column;
  }

  .glossaryTitle {
    margin-bottom: .3rem;
  }
}