.container {
  display: grid;
  grid-template-columns: 1fr 30rem;
  align-items: start;
  align-items: stretch;
  gap: 2rem;
}

/* Laptop (1024px) */
@media (max-width: 64em) {
  .container {
    grid-template-columns: 1fr 20rem;
  }
}

/* tablets (768px) */
@media (max-width: 48em) {
  .container {
    grid-template-columns: 1fr 15rem;
    gap: 1.5rem;
  }
}

/* Large phones (600px) */
@media (max-width: 37.5em) {
  .container {
    grid-template-columns: 1fr 10rem;
    gap: 1rem;
  }
}

/* Regular smartphones (480px) */
@media (max-width: 30em) {
  .container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

/* Small phones (360px) */
@media (max-width: 22.5em) {
}
